* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: green;
}

.car {
  width: 10rem;
  height: 10rem;
}

.rotateDown {
  transform: rotate(90deg);
}

.rotateLeft {
  transform: rotate(180deg);
}

.rotateUp {
  transform: rotate(270deg);
}

.moveCar {
  transform: translate(20px);
}
